@model ToDoList.Models.ToDoItem

@using (Html.BeginForm("AddEditToDoItem", "Home", FormMethod.Post, new { @class = "top-buffer" }))
{
    <div id="ToDoItemForm">
        <div id="ItemDescription" class="row form-group">
            @Html.LabelFor(m => Model.Description)
            @Html.TextBoxFor(m => Model.Description)
            @*<div class="col-sm-3">
            @Html.LabelFor(m => Model.Description)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => Model.Description)
        </div>*@
        </div>
        <input type="submit" />
    </div>
}
