@model IEnumerable<ToDoList.Models.ToDoItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron ">
    <h1> //TODO List </h1>
</div>

<button onclick="addNewItem()" class="btn btn-primary"> Add new item </button>

<div id="toDoList">
    @Html.Partial("_ToDoList", Model)
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Home.js"></script>
}
