@model IEnumerable<ToDoList.Models.ToDoItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron ">
    <h1> //TODO List </h1>
</div>

<div class="row">
    <div class="col-sm-12 action-buttonGroup">
        <button onclick="addNewItem()" class="btn btn-primary"> Add new item </button>
    </div>
</div>

<div id="toDoList">
    @Html.Partial("_ToDoList", Model)
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Home.js"></script>
}
