@model IEnumerable<ToDoList.Models.ToDoItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1> //TODO List </h1>
</div>

@Html.ActionLink("Add New Item", "AddEditToDoItem", "Home")
@if (!Model.Any())
{
    <h2> There's nothing here. Add a todo item now! </h2>
}


else
{
    @foreach (var item in Model)
    {
        var onClick = "changeStatusOfItem(" + item.ID + ", $(this).prop('checked'))";
        <div class="row">
            @Html.CheckBoxFor(m => item.IsComplete, new { onclick = @onClick, @class="col-sm-1" })
            @Html.Label("", item.Description, new { @class = "col-sm-11" })
        </div>
    }
}

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/Home.js"></script>
